[Desktop Entry]
Name=my-theme
X-KDE-PluginInfo-Name=my-theme
X-KDE-PluginInfo-Author=tychob
X-KDE-PluginInfo-Email=tychobrouwer33@gmail.com
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0